.contact-list{
  margin-top: var(--space-md);
  font-size: var(--text-md);
  list-style: none;
}

.contact-list > * + *{
  margin-top: var(--space-sm);
}

.contact-list > li > a{
  padding-left: var(--space-xs);
}

.contact-list__email::before{
  background-image: url("../assets/img/email.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.2em);
}

.contact-list__map::before{
  background-image: url("../assets/img/map.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.15em);
}

.contact-list__phone::before{
  background-image: url("../assets/img/phone.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.15em);
}


.contact-list__twitter::before{
  background-image: url("../assets/img/twitter.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.2em);
}

.contact-list__linkedin::before{
  background-image: url("../assets/img/linkedin.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.2em);
}

.contact-list__scholar::before{
  background-image: url("../assets/img/scholar.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.15em);
}

.contact-list__uom::before{
  background-image: url("../assets/img/uom.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.32em);
}

.contact-list__dblp::before{
  background-image: url("../assets/img/dblp.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.1em);
}

.contact-list__orcid::before{
  background-image: url("../assets/img/orcid.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.15em);
}

.contact-list__acm::before{
  background-image: url("../assets/img/acm.svg");
  background-size: 1em;
  display: inline-block;
  width: 1em; 
  height: 1em;
  content:"";
  transform: translateY(0.1em);
}